
html{
  background-color: #202020 ;
  color: #f7f7f7;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;

}

.Trending{
    text-decoration: none;
    color:#f7f7f7;
}
.Reviews{
    text-decoration: none;
    color:#f7f7f7;
}
.Recommendations{
    text-decoration: none;
    color:#f7f7f7;
}

.NotificationDropDown{
  display:none;
  position:relative;
  float: right;
  margin-left: 80%;
  width: 220px;
  height: 120px;
  border: solid black;
  background-color: rgb(19, 18, 18);
}
.NotificationDropDown.show{
  display:block;
}

.notification-item{
  text-align: center;
}


.nav-right {
  margin-right:35%;
  align-items: center;

}

h1{
  font-size:250%;
  width:520px;
  margin-left:5%;
}

h2{
  font-size:200%;
  width:520px;
  margin-top: 5%;
  margin-left:5%;
}

.MovieCardContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  justify-items: center;
  margin-left: 2rem;
  margin-right: 2rem;


  column-gap: 1.15rem;
  row-gap: 1.5rem;
}

.MovieCard{
  width: 10rem;
  height: 21rem;
  box-shadow:  0 8px 16px rgba(0, 0, 0, 0.932);
  background-color:#000000;
  font-family: sans-serif;
  overflow: hidden;
  cursor:pointer;
}

.MovieCard:hover{
    box-shadow: 0 0 16px  #FF5000;;

}

.MovieCard h3{
  color:#FF5000;
  text-align: center;
  font-size: medium;
}


.trendingMovieimg{
  width:10rem;
}

.trendingMovieName{
  color:#FF5000;
  font-size: medium;
  text-align: center;
  height: 1.1rem;
  overflow: hidden;
  margin-top:0.2rem;

}
.trendingMovieOverview{
  
  margin: 0rem;

  display: block;
  text-align: center;
  font-size:x-small;
  height: 1.5rem;
  overflow: hidden;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.trendingMovieGenres{
  text-align: center;
  font-size: x-small;

}

.genreContainer{
  display:block;
  height:1.66rem;
  overflow: hidden;

}

.genreName{
  display:inline-block;
  width: fit-content;
  border:0.5px solid;
  padding:2px;
  border-radius: 5px;
  margin-left: 3%;
}

.genreName:hover{
  background-color: #f7f7f773;
}
.reviewHeader {
  display: flex;
  align-items: center; /* vertically aligns content */
  gap: 1rem; /* space between author, title, rating */
}
.reviewCard{
  box-shadow: 0 0 16px black;
  display: inline-block;
  height: 12rem;
  margin:1rem;
  padding:1rem;
}
.reviewMovieAuthor{
  text-decoration: underline #FF5000;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin:0px;
  float:left;
  height:fit-content
}
.reviewMovieTitle{
  color:#FF5000;
  margin-top: 0rem;
  margin-left: 6rem;
  width:fit-content;
  height:fit-content;
}
.userReviewRating{
    margin-left: 6rem;
    color:#ffd900;
    width:fit-content;
    height:fit-content;
    margin-top: 0rem;    
}
.reviewMoviecontent{
  margin-left:7rem;
  margin-top: 0rem;
  display: block;
  height: 9rem;
  overflow:auto;

}
.reviewMovieImage{
  float:left;
  margin-top: 0rem;
  width: 6rem;
  height:9rem;

}

.heroCards{
  display:flex;
  gap:5%;
  justify-content: center;
  align-items: center; 

}
.heroCards p{
  margin-left: 5%;
  margin-right: 5%;
  height: 3rem;
}
.heroCards img{
  margin-top: 20%;
  border-radius: 1rem;
  width: 11rem;
  height:11rem;
}
.heroCards a{
  border: solid green;
  background-color: #0fcb22;
  color:#000000;
  border-radius: 1rem;
  padding: 0.3rem;
  cursor: pointer;
  text-decoration: none;
}
.heroCards a:hover{
  color:#f7f7f7
}
.heroCardOne{
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 16px #FF5000;
  border: solid #FF5000;
  text-align: center;
  width:225px;
  height:350px;
  background-color: #151515;
}


.heroCardTwo{
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 16px #FF5000;
  border: solid #FF5000;
  text-align: center;
  width:225px;
  height:350px;
  background-color: #151515;

}
.heroCardThree{
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 16px #FF5000;
  background-color: #151515;
  border: solid #FF5000;
  text-align: center;
  width:225px;
  height:350px;
}


.signupsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
}