
html{
  background-color: #202020 ;
  color: #f7f7f7;
}


.navbar{
  
 display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;

}

.Trending{
    text-decoration: none;
    color:#f7f7f7;
}
.Reviews{
    text-decoration: none;
    color:#f7f7f7;
}
.Recommendations{
    text-decoration: none;
    color:#f7f7f7;
}



.nav-right {
  margin-right:35%;
  align-items: center;

}


  

h1{
  font-size:250%;
  width:520px;
  margin-left:5%;
}

h2{
  font-size:200%;
  width:520px;
  margin-top: 5%;
  margin-left:5%;
}

.MovieCardContainer{
  display:inline-block;
  margin-left: 40px;
  margin-right: 40px;
  width:80px;
  
}
.MovieCard{
  float:left;
  width: 140px;
  height: 320px;
  box-shadow:  0 8px 16px rgba(0, 0, 0, 0.932);
  background-color:#000000;
  font-family: sans-serif;
  
}

.MovieCard h3{
  color:#FF5000;
  text-align: center;
  height:10px;
  font-size: medium;
}

.MovieCard p{
  font-size: small;
  text-align: center;
}







